{% extends 'base.html' %}
{% block content %}
<div style="width: 18rem;">
    <a href="{% url 'feedbacks' %}" class="btn btn-primary btn-sm d-block mb-3">Feedbacks</a>
    <a href="{% url 'feedback_create' %}" class="btn btn-primary btn-sm d-block mb-3">Create feedback</a>
    <a href="{% url 'products' %}" class="btn btn-primary btn-sm d-block mb-3">Products</a>
    <a href="{% url 'login' %}" class="btn btn-primary btn-sm d-block mb-3">Login</a>
    <a href="{% url 'logout' %}" class="btn btn-primary btn-sm d-block mb-3">logout</a>
    <a href="{% url 'registration' %}" class="btn btn-primary btn-sm d-block mb-3">Registration</a>
</div>
{% endblock content %}

