{% extends 'base.html' %}

{% block content %}
{% for product in products %}
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }} - {{ product.price }}</h5>
                <p class="card-text">category:
                    {% for category in product.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="card-text">{{ product.description}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock content %}



