{% load i18n %}
{% load widget_tweaks %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="true">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="16"
         height="16"
         fill="currentColor"
         class="bi bi-search"
         viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </a>
  <ul class="dropdown-menu">
    <li>
    <a class="dropdown-item">
        <form class="d-flex" role="search">
            <div class="pe-auto mt-2 ">
                <label for="{{ filter.form.name.id_for_label }}" class="form-label"> </label>
                {{ filter.form.name|attr:"class:form-control-sm" }}
            </div>
            <button class="btn" type="submit">Search</button>
        </form>
    </a>
    </li>
  </ul>
</li>
